<div class="login">
  <form nz-form nzLayout="vertical" [formGroup]="loginForm" (submit)="submit()">
    <nz-form-item>
      <nz-form-label nzFor="username">Username</nz-form-label>
      <nz-form-control>
        <input class="ant-input" type="text" name="username" id="username" formControlName="username">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password">Mot de passe</nz-form-label>
      <nz-form-control>
        <input class="ant-input" type="password" name="password" id="password" formControlName="password">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button class="login-button" type="submit" nz-button nzType="default" [disabled]="loginForm.invalid">Connexion</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <p class="divider">Pas encore enregistré ?</p>

  <!-- TODO Rediriger sur la page de login au clic sur le bouton -->
  <button class="register-button" nz-button nzType="primary" (click)="goToRegistration()">Créer un compte</button>
</div>
